<div class="container">
  <div class="row">
    <div class="col m12 center-align">
      <div class="col m6">
        <h1>Products</h1>
        <a href="/products" class="waves-effect waves-light btn">All Products</a>
        <a href="/products/new" class="waves-effect waves-light btn">New Product</a>
        <a href="/images" class="waves-effect waves-light btn">Image Upload</a>
        <a href="/bulk_create_product" class="waves-effect waves-light btn">Bulk Product Upload</a>
      </div>
      <div class="col m6">
        <h1>Categories</h1>
        <a href="/categories" class="waves-effect waves-light btn">All Categories</a>
        <a href="/categories/new" class="waves-effect waves-light btn">New Category</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    $('.modal').modal();
  })
</script>
