<h2>Product Search</h2>
<div class="row products">
  <% @products.each do |product| %>
    <%= link_to edit_product_path(product.id) do %>
      <div class="product col m4 s12">
        <div class="image-wrapper">
          <img src="<%= product.thumbnail(product.images[0]) %>" alt="" class="product-image responsive-img">
          <div class="info">
            <p class="truncate"><%= product.number %>, <%= product.category %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    $('.modal').modal();
  })
</script>
