<h2>Product Search</h2>
<div class="row">
  <% @products.each do |product| %>
    <%= link_to product_path(product.id) do %>
      <div class="col m4">
        <img src="<%= product.thumbnail(product.images[0]) %>" class="responsive-img">
        <p><%= product.number %>, <%= product.category %></p>
      </div>
    <% end %>
  <% end %>
</div>
