$(function() {
  $('#images').append(`<div class="form-group" style="position: relative;" id="images">
                          <label for="images_" class="active">Image URL</label>
                          <input type="text" name="images[]" id="images_" placeholder="Image URL">
                        </div>`)
})
