$(function() {
  $('#images').append('<label for="image_files_">Images</label>' +
  '<div class="file-field input-field">' +
    '<div class="btn">' +
      '<span>Browse</span>' +
      '<input type="file" name="image_files[]" id="image_files_" multiple="multiple">' +
    '</div>' +
    '<div class="file-path-wrapper">' +
      '<input class="file-path validate" type="text">' +
    '</div>' +
  '</div>')
})
